@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-cyan-neon font-sans antialiased overflow-hidden;
    background-image: 
      linear-gradient(rgba(0, 240, 255, 0.05) 1px, transparent 1px),
      linear-gradient(90deg, rgba(0, 240, 255, 0.05) 1px, transparent 1px);
    background-size: 30px 30px;
    background-position: center center;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #030712; 
}
 
::-webkit-scrollbar-thumb {
  background: #00f0ff; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff003c; 
}
